<footer class="footer">
  <small>
    by Alex Milbrandt and Geoffrey Class
  </small>
  <nav>
    <ul>
      <li><a href="https://github.com/Spuzman/369-large-project">The Repository</a></li>
    </ul>
  </nav>
</footer>
