<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Large Project", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Movements",  movements_path %></li>
          <li><%= link_to "Artists",    artists_path %></li>
          <li><%= link_to "Works",      works_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
